body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url(../img/nick-design-X2Dmb0Y7HVg-unsplash.jpg);
    color: #ffffff;
    height: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.card {
    width: 200px;
    height: 300px;
    background: rgba(101, 51, 104, 0.598); /* Fondo semi-transparente */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s; /* Efecto suave al hacer hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Para que las imágenes y contenidos no sobresalgan de la tarjeta */
}

.card a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.card:hover {
    transform: scale(1.05); /* Efecto de zoom al hacer hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hacer hover */
}

