@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap');
body {
    display: flex;
    justify-content: center;
    background-color: black;
}



#areaJuego{
    border: 1px solid black;
    background-color: #f4f4f4;
}
#puntos {
    font-family: 'Handjet', cursive;
    color: yellow;
    font-size: 50px;
}